:root 
{
    --dark1: #2C3639;
    --dark22: #b5c8cd;
    --dark2:#b9c7c8;
    --light1: #e4e4e4;
    --light2: #D0C9C0;
    --light3: #eeeeee;
    --main2: #d2e3e7;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wrapper-div
{
    width: 100%;
    height: 150vh;
    background-color: #e8f2fd;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.header-block
{
    width: 100%;
    height: 15%;
    background-color: var(--dark1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-list
{
    margin-top: 10px;
    width: 100%;
    align-content: space-between;
    padding-left: 20px;
}
.menu-btn
{
    background-color: #d2d2d2;
    border: 1px solid var(--dark22);
    font-weight: bold;
}
.menu-btn:hover
{
    background-color: var(--dark1);
    color: #b9c7c8;
    font-size: large;
}
/* =====[ Logged user Detail ]=========== */
.user-detail
{
    width: 200px;
    height: 30px;

    position: absolute;
    right: 10px;
    top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--light3);
}
/* =====[ Logout btn ]=========== */
#logout-btn
{
    width: 60px;
    height: 20px;
    background-color: orange;
    border: 2px solid var(--light1);
}
#page-heading
{
    display: flex;
    align-items: center;
    height: 80%;
    color: var(--light3);
}
/* ================[ Content Block ]===================== */
/* =================================================== */
.content-block
{
    margin-top: 20px;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



/* =======[ Selection action panel ]========================= */
/* ===[ Close Button ]========= */
.close-selection-card
{
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
#close-selection-btn
{
    width: 30px;
}
/* ===[ selection card ]========= */
.selection-action-block
{
    position: fixed;
    left: 520px;
    top: 250px;
    width: 400px;
    height: 200px;
    background-color: var(--dark1);
    box-shadow:  3px 3px 10px #848484;

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    color: white;
}

.book-titte-panel
{
    width: 100%;
    height: 50%;
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: row;
}
#selected-book-title
{
    text-align: left;
}
#book-version
{
    font-size: 10px;
    padding-left: 25px;
    align-content: center;
    text-align: center;
}

/* ====[ Action button panel ]=========== */
.selection-action
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#update-book-btn, #delete-book-btn
{
    width: 120px;
    height: 30px;
    border: 0px;
}
#update-book-btn
{
    background-color: rgb(234, 234, 234);
}
#update-book-btn:hover
{
    background-color: rgb(94, 92, 92);
    border: 2px solid black;
}
#delete-book-btn
{
    background-color: rgb(250, 60, 60);
}
#delete-book-btn:hover
{
    background-color: rgb(247, 44, 44);
    border: 2px solid black;
}