#menu-dashboard,
#menu-add-newbook,
#menu-show-allbook,
#menu-show-allusers
{
    padding: 5px;
    width: 160px;
}

.admin-dashboard
{
    width: 90%;
    height: 80%;
    padding: 40px;

    display: flex;
    flex-direction: column;
}
.dashboard-row-1,
.dashboard-row-2
{
    width: 100%;
    padding: 20px;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.total-book-card,
.total-customer-card,
.total-transaction-card,
.total-taken-card,
.total-books-late-card,
.total-fineamount-card
{
    width: 250px;
    height: 200px;
    background-color: #334065;
    box-shadow:  3px 3px 10px #848484;
    border-radius: 10px;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#total-book-heading,
#total-customer-heading,
#total-transaction-heading,
#total-taken-heading,
#total-books-late-heading,
#total-fineamount-heading
{
    width: 100%;
    height: 25%;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: aliceblue;
}
#total-book-count,
#total-customer-count,
#total-transaction-count,
#total-taken-count,
#total-books-late-count,
#total-fineamount-count
{
    border-radius: 5px;
    width: 100%;
    height: 75%;
    background-color: rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    font-size: 50px;
    font-weight: bolder;
}