/* ================[ Show Users ]===================== */
/* =================================================== */
.show-user-block
{
    width: 88%;
    height: 120%;
    background-color: #d6e0fd;
    position: absolute;
    /* background-color: var(--dark1); */
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#current-day-block
{
    width: 100%;
}

.current-day-header, .previous-day-header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#previous-day-block
{
    margin-top: 30px;
    width: 100%;
}
.users-list-today
{
    margin-top: 20px;
    max-height: 300px;
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    overflow-y: scroll;
    box-shadow: inset 3px 3px 10px #848484;
    padding: 10px;
    border-radius: 5px;
}
.users-list-today li
{
    width: 300px;
    height: 80px;
    background-color: white;
    padding: 10px;
    margin: 5px;
    box-shadow:  3px 3px 10px #848484;
    border-radius: 3px;
}
.users-list
{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    overflow-y: scroll;
    box-shadow: inset 3px 3px 10px #848484;
    padding: 10px;
    border-radius: 5px;
}

.users-list li
{
    width: 300px;
    background-color: white;
    padding: 10px;
    margin: 5px;
    box-shadow:  3px 3px 10px #848484;
}
#logger-name
{
    font-weight: bold;
    font-size: 18px;
}
#logged-time
{
    font-weight: bold;
}