/* ================[ Books filter panel ]===================== */
/* ========================================================== */

.book-filter-panel
{
    width: 100%;
    background-color: #646e90;
    box-shadow:  3px 3px 10px #848484;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    position: relative;
    bottom: 20px;
    color: whitesmoke;
}
/* =======[ Genre block ]======= */ 
/* =======[ Authour block ]======= */
.genre-filter-block,
.Authour-search-panel {
    width: 25%;
}
.bookname-search-panel
{
    width: 200px;
}
#bookname-input-key
{
    width: 250px;
}

#genre-filter-combo{
    width: 180px;
}

/* ====[ Genre list ]======== */
/* ====[ Authour list ]======== */
#genre-filter-selected-list,
#authour-selected-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#genre-filter-selected-list li,
#authour-selected-list li {
    background-color: var(--dark1);
    color: var(--light3);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding-left: 15px;
    margin-left: 20px;
    margin-top: 5px;
    cursor: pointer;
}
#delete-item
{
    visibility: hidden;
}
#delete-author-item
{
    padding-left: 10px;
    padding-right: 5px;
    visibility: hidden;
}
#genre-filter-selected-list li:hover > #delete-item
{
    visibility: visible;
}
#authour-selected-list li:hover > #delete-author-item
{
    visibility: visible;
}
.search-item-list
{
    z-index: 1;
    background-color: var(--dark1);
    position: absolute;
    width: 280px;
    list-style: none;
    margin-top: 2px;
    margin-left: 5px;
    border-radius: 5px;
}
.search-item-list li
{
    padding: 5px;
    padding-left: 15px;
    font-size: small;
    cursor: pointer;
    color: whitesmoke;
}
.search-item-list li:hover
{
    background-color: rgb(169, 169, 169)
}

/* ================[ Show Books ]===================== */
/* =================================================== */
.show-book-block
{
    width: 100%;
    height: 75%;
    position: absolute;
}
.books-list
{
    margin-left: 100px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: baseline;

    
    overflow-y: scroll;
    list-style: none;
    height: 90%;
}
.books-list li
{
    height: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* ========[ Booklist card ]======================================== */
/* ================================================================= */
.book-card
{
    width: 400px;
    height: 150px;
    border-radius: 5px;
    padding: 3px;
    background-color: var(--main2);
    box-shadow:  3px 3px 10px #848484;
    display: flex;
    flex-direction: row;
}
.book-card:hover
{
    background-color: rgb(224, 219, 256);
    cursor: pointer;
}

.book-detail
{
    width: 100%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    
}
.title-block
{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-start
{
    width: auto;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* =====[ Edition Block]=========== */
.edition-badge
{
    width: 35px;
    height: 25px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-left: 20px;
}
.edition{
    color: white;
    font-size: 9px;
    padding: 2px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edition-v
{
    width: 30px;
    height: 25px;
    background-color: gold;
    color: black;
    display: flex;
    font-size: 10px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
/* ==[ Language box ]== */
.right-end
{
    width: auto;
    height: 25px;
    font-size: 12px;
    background-color: rgb(21, 88, 188);
    border-radius: 0px 5px 0px 5px;
    color: white;
    text-align: center;
}
#lang-text {
    padding: 5px;
}

/* ==================================================== */
.center-block
{
    height: 30px;
    /* background-color: rgb(182, 141, 141); */
}
.center-block div
{
    display: flex;
    flex-direction: row;
    /* background-color: rgb(252, 131, 131); */
}
.ISBN-block
{
    height: 15px;
    font-size: 12px;
    color: rgb(63, 63, 63);
}
#isbn-number
{
    padding-left: 10px;
}
/* =======================[ Authour block ]===================*/
.author-block
{
    height: 15px;
    font-size: 12px;
    color: rgb(63, 63, 63);
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: row;
    align-self: center;
}
.author-list{
    display: flex;
    flex-direction: row;
    list-style: none;
}
/* ===================[ Genre block ]=======================*/
.genre-block-card
{
    height: 25px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
}
.genre-card-list
{
    list-style: none;
    display: flex;
    flex-direction: row;
}
/* =====================[ Library details block ]===========*/
.library-detail-block
{
    width: 90%;
    height: 45px;
    background-color: var(--light1);
    box-shadow: inset 3px 3px 10px #848484;
    /* box-shadow: 3px 3px 10px #848484; */
    border-radius: 5px;
    margin-left: 14px;
}
.library-detail-block label
{
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
}
.library-details
{
    height: 25px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: left;
    padding-left: 20px;
    justify-content: space-around;
    border-radius: 5px;
}
/* ======[ Section block ]====== */
.section-block
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
}
#stock-available-block
{
    color: royalblue;
}
#stock-unavailbale-block
{
    color: red;
}

#lib-section
{
    margin-top: 2px;
}
/* =======[ Rack block ]========= */
.rack-block
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
}
#lib-rack
{
    margin-top: 2px;
}
/* ========[ Stock block ]========= */
.stock-block
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
}
#lib-stock
{
    margin-top: 2px;
}
/* ========[ Show only in stock ]=========================== */
.only-instock-checkbox-panel
{
    width: auto;
    height: 35px;
    margin-top: 5px;
    padding: 10px;
    background-color: #a5acc4;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#stock-check-label
{
    color: var(--dark1);
    font-weight: bold;
    padding-left: 10px;
    cursor: pointer;
}