:root 
{
    --dark1: #2C3639;
    --dark2:#b9c7c8;
    --light1: #DCD7C9;
    --light2: #D0C9C0;
    --light3: #eeeeee;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wrapper-block
{
    width: 100%;
    height: 100vh;
    display: block;
    
}
.header-block
{
    height: 20%;
    background-color: var(--dark1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light3);
}

/* =======[ Error message ]=============== */
#error-msg
{
    width: 60%;
    height: 30px;
    background-color: #ff3f3f;
    border: 2px solid white;
    position: fixed;
    left: 300px;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* =====[ User Detail ]=========== */
.user-detail
{
    width: 200px;
    height: 30px;

    position: absolute;
    right: 10px;
    top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* =====[ Menu Navigation ]=========== */
.menu-navigation-block
{
    position: absolute;
    left: 10px;
    top: 120px;
}
.menu-btn
{
    width: 150px;
    height: 30px;
    border: 0px;
    background-color: var(--dark1);
    height: 30px;
    color: #d2d2d2;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.menu-btn:hover
{
    background-color: #d2d2d2;
    color: var(--dark1);
}
#menu-setting-btn
{
    background-color: #d2d2d2;
    color: var(--dark1);
    position: absolute;
    right: 10px;
    top: 120px;
}
/* =====[ Logout btn ]=========== */
#logout-btn
{
    width: 60px;
    height: 20px;
    background-color: orange;
    border: 2px solid var(--light1);
}
#logout-btn:hover
{
    background-color: orangered;
}


/* ===========[ Content block ]======================= */
/* =================================================== */

.content-block
{
    width: 100%;
    height: 100%;
    background-color: #e8f2fd;
    /* background-color: var(--light3); */
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ========[ Setting card ]=================================== */
/* =============================================================== */

.setting-card-close
{
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
#setting-card-close-btn
{
    width: 30px;
}
.setting-card-content
{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
}
#delete-account-btn
{
    width: 100%;
    height: 30px;
    background-color: rgb(251, 67, 67);
    color: whitesmoke;
    position: relative;
    top: 100px;
    border: 2px solid rgb(32, 0, 0);
}
#delete-account-btn:hover
{
    background-color: red;
}
