:root 
{
    --dark1: #2C3639;
    --dark2:#b9c7c8;
    --light1: #DCD7C9;
    --light2: #D0C9C0;
    --light3: #eeeeee;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wrapper-block
{
    width: 100%;
    height: 100vh;
}
.header-block
{
    height: 20%;
    background-color: var(--dark1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light3);
}
/* =====[ User Detail ]=========== */
.user-detail
{
    width: 200px;
    height: 30px;

    position: absolute;
    right: 10px;
    top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* =====[ Menu Navigation ]=========== */
.menu-navigation-block
{
    position: absolute;
    left: 10px;
    top: 120px;
}
#menu-find-book, #menu-return-book, #menu-setting-btn
{
    width: 150px;
    height: 30px;
    text-align: center;
}
#menu-setting-btn
{
    position: absolute;
    right: 10px;
    top: 120px;
}
/* =====[ Logout btn ]=========== */
#logout-btn
{
    width: 60px;
    height: 20px;
    background-color: orange;
    border: 2px solid var(--light1);
}
/* =========[ Center filter box ]========================= */
/* ======================================================= */
.center-filter-block
{
    display: flex;
    flex-direction: row;

    height: auto;
    background-color: var(--light2);
}
/* ====[ Genre block ]====== */
.genre-filter-block
{
    width: 40%;
    /* background-color: darkcyan; */
}
.genre-select
{
    margin-left: 20px;
}
#genre-combo
{
    width: 100px;
    height: 30px;
}
#genre-selected-list
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 10px;
}
#genre-selected-list li
{
    padding: 10px;
    display: flex;
    flex-direction: row;
}
#delete-item
{
    padding-left: 10px;
}

/* ===========[ Content block ]======================= */
/* =================================================== */

.content-block
{
    width: 100%;
    height: 100%;
    background-color: var(--light3);
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#search-content-list
{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: scroll;
    flex-wrap: wrap;
    list-style: none;
}
#search-content-list li
{
    padding-left: 10px;
}
#user-bookpick-list
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--light3);
    list-style: none;
    display: none;
}
#user-bookpick-list li
{
    padding: 10px;
}



